<div class="bg-black w-full flex items-center justify-between p-8">
    <h1 class="text-white unifrakturmaguntia text-3xl">SS</h1>
    <div>
        <ul class="flex gap-10 max-[413px]:gap-8 max-[413px]:ml-5 mr-10 justify-between text-white zalando-sans-semiexpanded">
            <li class="cursor-pointer transition-all duration-300 hover:text-blue-400 hover:scale-125"><a
                    href="/">Home</a></li>
            <li class="cursor-pointer transition-all duration-300 hover:text-blue-400 hover:scale-125"><a
                    href="/about">About</a></li>
            <li class="cursor-pointer transition-all duration-300 hover:text-blue-400 hover:scale-125"><a
                    href="/contact">Contact</a></li>
        </ul>
    </div>
</div>